// Options
$enable-shadows:     true;
$enable-gradients:   true;
$min-contrast-ratio:   2;

// colors
$primary:       #22668D;
$secondary:     #8ECDDD;
$highlight:     #FFCC70;
$accent-1:      #fefefe;
$accent-2:      #dee2e6;
$accent-3:      #495057;
$light:         #FFFBF5;
$dark:          #2a2a2a;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "highlight":  $highlight,
  "accent-1":   $accent-1,
  "accent-2":   $accent-2,
  "accent-3":   $accent-3,
  "light":      $light,
  "dark":       $dark
);
  
$body-bg:       $light;
$body-color:    $dark;